<!-- Tufts VUE 3.2.2 concept-map (MedicalImageAnnotationFormat.vue) 2015-03-02 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/C:/Program%20Files%20(x86)/VUE/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Mon Mar 02 10:03:54 CET 2015 by Michael Kistler on platform Windows 8 6.2 in JVM 1.7.0_21-b11 -->
<!-- Do Not Remove: Saving version @(#)VUE: built May 23 2013 at 2146 by tomadm on Linux 2.6.18-348.2.1.el5 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="MedicalImageAnnotationFormat.vue" created="1424860418051"
    x="0.0" y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1425287034177" size="64038"
        spec="D:\MedicalImageAnnotationFormat.vue" type="1" xsi:type="URLResource">
        <title>MedicalImageAnnotationFormat.vue</title>
        <property key="File" value="D:\MedicalImageAnnotationFormat.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/c15383d80a00000900c1d56b683642c8</URIString>
    <child ID="8" label="Specific" layerID="1" created="1424860448832"
        x="-110.5" y="1028.5" width="54.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383da0a00000900c1d56bd4c9c583</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="13" label="File List" layerID="1" created="1424861503745"
        x="-258.0" y="937.0" width="54.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383db0a00000900c1d56bfbd9017c</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="14" label="File name" layerID="1" created="1424861525236"
        x="-88.0" y="937.0" width="66.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383dc0a00000900c1d56bd779e3f7</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="15" label="anatomical region" layerID="1"
        created="1424861574716" x="-107.0" y="984.0" width="110.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383dc0a00000900c1d56bd5ccf70c</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="19" label="item anatomical region" layerID="1"
        created="1424861912319" x="-301.0" y="985.5" width="137.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383de0a00000900c1d56bc3f7f6c3</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="20" layerID="1" created="1424861924593" x="-164.5"
        y="995.45715" width="58.0" height="1.4736938" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383de0a00000900c1d56b6de6289d</URIString>
        <point1 x="-107.0" y="995.9571"/>
        <point2 x="-164.0" y="996.4308"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">19</ID2>
    </child>
    <child ID="21" label="label" layerID="1" created="1424861933210"
        x="-204.5" y="941.5" width="117.0" height="14.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e30a00000900c1d56b02f24295</URIString>
        <point1 x="-204.0" y="948.5"/>
        <point2 x="-88.0" y="948.5"/>
        <ID1 xsi:type="node">13</ID1>
        <ID2 xsi:type="node">14</ID2>
    </child>
    <child ID="25" label="units" layerID="1" created="1424862006384"
        x="256.0" y="797.0" width="38.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e40a00000900c1d56b337dfa0c</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="26" label="time" layerID="1" created="1424862010146"
        x="337.5" y="870.5" width="35.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e50a00000900c1d56be28e2740</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="27" layerID="1" created="1424862010148" x="286.3834"
        y="818.91785" width="57.568848" height="52.972656"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e50a00000900c1d56bc4c11251</URIString>
        <point1 x="286.8834" y="819.41785"/>
        <point2 x="343.45224" y="871.3905"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">26</ID2>
    </child>
    <child ID="28" label="date" layerID="1" created="1424862020423"
        x="338.0" y="781.0" width="35.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e60a00000900c1d56b4f3a319e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="29" label="weight" layerID="1" created="1424862022581"
        x="340.0" y="741.0" width="47.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e60a00000900c1d56b412fe819</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="31" label="length" layerID="1" created="1424862038401"
        x="334.5" y="821.5" width="45.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e60a00000900c1d56b51038cde</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="32" layerID="1" created="1424862048450" x="293.05814"
        y="795.402" width="45.825867" height="9.909424"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e60a00000900c1d56bdaa4e010</URIString>
        <point1 x="293.55814" y="804.8114"/>
        <point2 x="338.384" y="795.902"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">28</ID2>
    </child>
    <child ID="33" layerID="1" created="1424862049389" x="292.68628"
        y="813.4337" width="43.714203" height="13.762207"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e70a00000900c1d56ba02c1677</URIString>
        <point1 x="293.18628" y="813.9337"/>
        <point2 x="335.90048" y="826.6959"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">31</ID2>
    </child>
    <child ID="34" layerID="1" created="1424862050597" x="289.34827"
        y="762.78467" width="57.608215" height="36.819885"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e70a00000900c1d56bc730f505</URIString>
        <point1 x="289.84827" y="799.1045"/>
        <point2 x="346.45648" y="763.2846"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">29</ID2>
    </child>
    <child ID="35" label="year" layerID="1" created="1424862064939"
        x="433.5" y="707.5" width="34.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e80a00000900c1d56b2723de1a</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="36" layerID="1" created="1424862064941" x="367.7046"
        y="728.1493" width="70.823456" height="55.0213"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e80a00000900c1d56bc4271dc2</URIString>
        <point1 x="368.20462" y="782.6706"/>
        <point2 x="438.02808" y="728.6493"/>
        <ID1 xsi:type="node">28</ID1>
        <ID2 xsi:type="node">35</ID2>
    </child>
    <child ID="37" label="month" layerID="1" created="1424862069912"
        x="436.5" y="798.5" width="46.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e90a00000900c1d56bdfd095d4</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="38" layerID="1" created="1424862069914" x="372.2179"
        y="794.8973" width="65.244965" height="11.810425"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e90a00000900c1d56bc8422c33</URIString>
        <point1 x="372.7179" y="795.3973"/>
        <point2 x="436.96286" y="806.2077"/>
        <ID1 xsi:type="node">28</ID1>
        <ID2 xsi:type="node">37</ID2>
    </child>
    <child ID="39" label="day" layerID="1" created="1424862082492"
        x="433.5" y="841.5" width="30.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383e90a00000900c1d56b53046e7e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="40" layerID="1" created="1424862082495" x="368.88568"
        y="801.0332" width="67.70654" height="44.39508"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383ea0a00000900c1d56b38a78491</URIString>
        <point1 x="369.38568" y="801.53314"/>
        <point2 x="436.09222" y="844.9282"/>
        <ID1 xsi:type="node">28</ID1>
        <ID2 xsi:type="node">39</ID2>
    </child>
    <child ID="42" label="week" layerID="1" created="1424862092438"
        x="450.5" y="750.5" width="40.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383ea0a00000900c1d56b9130cf5e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="43" layerID="1" created="1424862092440" x="371.89807"
        y="766.611" width="79.83096" height="21.907349"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383ea0a00000900c1d56bbb8e18a1</URIString>
        <point1 x="372.39804" y="788.0184"/>
        <point2 x="451.229" y="767.111"/>
        <ID1 xsi:type="node">28</ID1>
        <ID2 xsi:type="node">42</ID2>
    </child>
    <child ID="45" label="description" layerID="1"
        created="1424862156206" x="-14.0" y="909.0" width="72.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383eb0a00000900c1d56b24a2e49f</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="47" label="Related Data" layerID="1"
        created="1424865922341" x="-278.0" y="1070.0" width="83.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383eb0a00000900c1d56ba8c662d0</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="57" label="Object" layerID="1" created="1424866185469"
        x="-93.5" y="1082.5" width="46.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383ed0a00000900c1d56be9e14637</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="58" layerID="1" created="1424866185472" x="-195.82315"
        y="1084.1006" width="102.86926" height="8.6710205"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383ee0a00000900c1d56bf402e540</URIString>
        <point1 x="-195.32315" y="1084.6006"/>
        <point2 x="-93.45389" y="1092.2716"/>
        <ID1 xsi:type="node">47</ID1>
        <ID2 xsi:type="node">57</ID2>
    </child>
    <child ID="61" label="Global Variables" layerID="1"
        created="1424877397938" x="316.0" y="112.0" width="102.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383ee0a00000900c1d56b809c4bd7</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="64" label="BasicDefinitions" layerID="1"
        created="1424877415842" x="287.0" y="176.0" width="101.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383ef0a00000900c1d56b46a8904d</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="65" label="Measurement Units" layerID="1"
        created="1424877425551" x="415.0" y="176.0" width="119.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383ef0a00000900c1d56b4e20e06f</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="66" label="Study" layerID="1" created="1424877451671"
        x="251.0" y="97.0" width="41.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f00a00000900c1d56bb60a7809</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="68" layerID="1" created="1424877469072" x="291.16345"
        y="111.16702" width="27.643219" height="5.184807"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f00a00000900c1d56b5e1d04eb</URIString>
        <point1 x="291.66345" y="111.66703"/>
        <point2 x="318.30667" y="115.85184"/>
        <ID1 xsi:type="node">66</ID1>
        <ID2 xsi:type="node">61</ID2>
    </child>
    <child ID="69" label="MIAF" layerID="1" created="1424877474668"
        x="111.0" y="97.0" width="80.5" height="62.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f10a00000900c1d56bf58f2ea9</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="71" layerID="1" created="1424877503844" x="280.6076"
        y="119.5" width="47.78479" height="57.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f10a00000900c1d56bc2f2c894</URIString>
        <point1 x="281.1076" y="120.0"/>
        <point2 x="327.8924" y="176.0"/>
        <ID1 xsi:type="node">66</ID1>
        <ID2 xsi:type="node">64</ID2>
    </child>
    <child ID="72" layerID="1" created="1424877514221" x="387.5"
        y="187.0" width="28.0" height="1.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f20a00000900c1d56b334f1108</URIString>
        <point1 x="388.0" y="187.5"/>
        <point2 x="415.0" y="187.5"/>
        <ID1 xsi:type="node">64</ID1>
        <ID2 xsi:type="node">65</ID2>
    </child>
    <child ID="73" label="MetaDataVersion" layerID="1"
        created="1424877525919" x="209.0" y="235.0" width="105.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f20a00000900c1d56bf01240ab</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="74" label="Protocol" layerID="1" created="1424877542014"
        x="354.5" y="278.5" width="56.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f20a00000900c1d56bf15fbb69</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="75" layerID="1" created="1424877542017" x="292.98846"
        y="257.5" width="65.36813" height="24.140594" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f30a00000900c1d56be061f8f0</URIString>
        <point1 x="293.4885" y="258.0"/>
        <point2 x="357.85663" y="281.1406"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">74</ID2>
    </child>
    <child ID="76" label="StudyEventRef" layerID="1"
        created="1424877560401" x="442.5" y="280.5" width="90.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f40a00000900c1d56bdc0de54c</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="77" layerID="1" created="1424877560404" x="410.0"
        y="290.03336" width="33.0" height="1.6094971" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f50a00000900c1d56bbd970789</URIString>
        <point1 x="410.5" y="290.53336"/>
        <point2 x="442.5" y="291.14285"/>
        <ID1 xsi:type="node">74</ID1>
        <ID2 xsi:type="node">76</ID2>
    </child>
    <child ID="78" label="StudyEventDef" layerID="1"
        created="1424877571947" x="345.5" y="335.5" width="90.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f50a00000900c1d56b0167d724</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="79" layerID="1" created="1424877571953" x="275.7612"
        y="257.5" width="100.4776" height="78.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f50a00000900c1d56b2eb20fa9</URIString>
        <point1 x="276.2612" y="258.0"/>
        <point2 x="375.7388" y="335.5"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">78</ID2>
    </child>
    <child ID="80" label="ItemGroupDef" layerID="1"
        created="1424877580420" x="328.5" y="451.5" width="88.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f60a00000900c1d56b156c090f</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="81" layerID="1" created="1424877580423" x="266.8961"
        y="257.5" width="100.207825" height="194.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f60a00000900c1d56bba44c874</URIString>
        <point1 x="267.3961" y="258.0"/>
        <point2 x="366.6039" y="451.5"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">80</ID2>
    </child>
    <child ID="82" label="ItemRef" layerID="1" created="1424877588652"
        x="451.5" y="482.5" width="54.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f60a00000900c1d56bf938625d</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="83" layerID="1" created="1424877588656" x="409.1488"
        y="473.36426" width="44.917664" height="13.843872"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f70a00000900c1d56b05924430</URIString>
        <point1 x="409.6488" y="473.86426"/>
        <point2 x="453.56647" y="486.70813"/>
        <ID1 xsi:type="node">80</ID1>
        <ID2 xsi:type="node">82</ID2>
    </child>
    <child ID="84" label="Description" layerID="1"
        created="1424877594229" x="449.5" y="426.5" width="74.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f70a00000900c1d56b43e46ae2</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="85" layerID="1" created="1424877594233" x="412.58337"
        y="445.11334" width="39.6998" height="9.486786"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f70a00000900c1d56bf6472c58</URIString>
        <point1 x="413.0834" y="454.10013"/>
        <point2 x="451.7832" y="445.61334"/>
        <ID1 xsi:type="node">80</ID1>
        <ID2 xsi:type="node">84</ID2>
    </child>
    <child ID="86" label="FormRef" layerID="1" created="1424877600954"
        x="464.5" y="335.5" width="59.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f80a00000900c1d56b47fac1b2</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="87" layerID="1" created="1424877600959" x="435.0"
        y="346.5" width="30.0" height="1.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f80a00000900c1d56ba8ed6d2e</URIString>
        <point1 x="435.5" y="347.0"/>
        <point2 x="464.5" y="347.0"/>
        <ID1 xsi:type="node">78</ID1>
        <ID2 xsi:type="node">86</ID2>
    </child>
    <child ID="88" label="ItemDef" layerID="1" created="1424877620208"
        x="309.5" y="555.5" width="54.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f80a00000900c1d56b9e3bfe10</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="89" layerID="1" created="1424877620214" x="263.6911"
        y="257.5" width="70.6178" height="298.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f90a00000900c1d56ba22cb665</URIString>
        <point1 x="264.1911" y="258.0"/>
        <point2 x="333.8089" y="555.5"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">88</ID2>
    </child>
    <child ID="93" label="Desc" layerID="1" created="1424877674845"
        x="397.5" y="539.5" width="40.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d20a00000900c1d56b666e233d</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="94" layerID="1" created="1424877674849" x="362.25577"
        y="554.3566" width="36.22003" height="7.9570312"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d30a00000900c1d56bc1be4d8a</URIString>
        <point1 x="362.75577" y="561.81366"/>
        <point2 x="397.9758" y="554.8566"/>
        <ID1 xsi:type="node">88</ID1>
        <ID2 xsi:type="node">93</ID2>
    </child>
    <child ID="95" label="Question" layerID="1" created="1424877678620"
        x="382.5" y="575.5" width="61.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d30a00000900c1d56bf3fe3b7b</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="96" layerID="1" created="1424877678623" x="361.3768"
        y="573.1345" width="23.770935" height="6.953186"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d30a00000900c1d56b8e4d871d</URIString>
        <point1 x="361.8768" y="573.63446"/>
        <point2 x="384.64774" y="579.58765"/>
        <ID1 xsi:type="node">88</ID1>
        <ID2 xsi:type="node">95</ID2>
    </child>
    <child ID="97" label="CodeList aka Value Listst" layerID="1"
        created="1424877704489" x="219.5" y="647.5" width="151.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d30a00000900c1d56b21083656</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="98" layerID="1" created="1424877704492" x="261.93396"
        y="257.5" width="32.63211" height="390.49976" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d30a00000900c1d56bc865512f</URIString>
        <point1 x="262.43393" y="258.0"/>
        <point2 x="294.06604" y="647.49976"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">97</ID2>
    </child>
    <child ID="99" label="CodeLIstItem" layerID="1"
        created="1424877717398" x="409.5" y="646.5" width="85.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d40a00000900c1d56b8f434909</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="100" layerID="1" created="1424877717402" x="370.0"
        y="657.7707" width="40.0" height="1.2484131" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d40a00000900c1d56b5fc84140</URIString>
        <point1 x="370.5" y="658.5191"/>
        <point2 x="409.5" y="658.2707"/>
        <ID1 xsi:type="node">97</ID1>
        <ID2 xsi:type="node">99</ID2>
    </child>
    <child ID="101" layerID="1" created="1424877750961" x="261.83334"
        y="119.5" width="9.333313" height="116.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d40a00000900c1d56baf90da51</URIString>
        <point1 x="270.66666" y="120.0"/>
        <point2 x="262.33334" y="235.0"/>
        <ID1 xsi:type="node">66</ID1>
        <ID2 xsi:type="node">73</ID2>
    </child>
    <child ID="102" layerID="1" created="1424877779046" x="191.0"
        y="111.266495" width="60.856613" height="10.706474"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d40a00000900c1d56bc18d015b</URIString>
        <point1 x="191.5" y="121.47297"/>
        <point2 x="251.35661" y="111.766495"/>
        <ID1 xsi:type="node">69</ID1>
        <ID2 xsi:type="node">66</ID2>
    </child>
    <child ID="103" label="ClinicalData" layerID="1"
        created="1424878387479" x="4.0" y="98.5" width="78.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d50a00000900c1d56b8e2dc310</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="104" layerID="1" created="1424878387484" x="80.13101"
        y="115.757355" width="31.36898" height="6.0498047"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d50a00000900c1d56b45968114</URIString>
        <point1 x="111.0" y="121.30716"/>
        <point2 x="80.63102" y="116.257355"/>
        <ID1 xsi:type="node">69</ID1>
        <ID2 xsi:type="node">103</ID2>
    </child>
    <child ID="105" label="SubjectData" layerID="1"
        created="1424878396785" x="-119.0" y="263.5" width="78.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d50a00000900c1d56b79b1a0d0</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="106" layerID="1" created="1424878396789" x="-71.92728"
        y="121.0" width="106.854546" height="143.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d60a00000900c1d56b591697a0</URIString>
        <point1 x="34.42727" y="121.5"/>
        <point2 x="-71.42728" y="263.5"/>
        <ID1 xsi:type="node">103</ID1>
        <ID2 xsi:type="node">105</ID2>
    </child>
    <child ID="107" label="StudyEventData" layerID="1"
        created="1424878402992" x="-129.0" y="311.5" width="97.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d60a00000900c1d56b5c137dd5</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="108" layerID="1" created="1424878402996" x="-80.8802"
        y="286.0" width="1.2604141" height="26.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d60a00000900c1d56b9e53a34d</URIString>
        <point1 x="-80.11979" y="286.5"/>
        <point2 x="-80.3802" y="311.5"/>
        <ID1 xsi:type="node">105</ID1>
        <ID2 xsi:type="node">107</ID2>
    </child>
    <child ID="109" label="FormData" layerID="1" created="1424878409605"
        x="-116.0" y="367.5" width="66.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d60a00000900c1d56b0f078e74</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="110" layerID="1" created="1424878409609" x="-82.9866"
        y="334.0" width="2.4732132" height="34.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d70a00000900c1d56b7ed5cbe8</URIString>
        <point1 x="-81.01339" y="334.5"/>
        <point2 x="-82.4866" y="367.5"/>
        <ID1 xsi:type="node">107</ID1>
        <ID2 xsi:type="node">109</ID2>
    </child>
    <child ID="111" label="ItemGroupData" layerID="1"
        created="1424878414633" x="-135.0" y="415.5" width="95.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d70a00000900c1d56b3e4acb04</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="112" layerID="1" created="1424878414638" x="-86.921875"
        y="390.0" width="3.34375" height="26.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d70a00000900c1d56ba15446c8</URIString>
        <point1 x="-84.078125" y="390.5"/>
        <point2 x="-86.421875" y="415.5"/>
        <ID1 xsi:type="node">109</ID1>
        <ID2 xsi:type="node">111</ID2>
    </child>
    <child ID="113" label="ItemData" layerID="1" created="1424878423084"
        x="-119.0" y="500.5" width="61.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d80a00000900c1d56b126aab39</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="114" layerID="1" created="1424878423091" x="-88.86471"
        y="438.0" width="1.7294159" height="63.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d80a00000900c1d56b214f7251</URIString>
        <point1 x="-87.63529" y="438.5"/>
        <point2 x="-88.36471" y="500.5"/>
        <ID1 xsi:type="node">111</ID1>
        <ID2 xsi:type="node">113</ID2>
    </child>
    <child ID="118" label="SubjectKey" layerID="1"
        created="1424878455458" x="-256.0" y="261.5" width="72.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d80a00000900c1d56bd87b88f5</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="119" layerID="1" created="1424878455462" x="-184.5"
        y="273.01428" width="66.0" height="1.9285583" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d90a00000900c1d56be618ee09</URIString>
        <point1 x="-119.0" y="274.44284"/>
        <point2 x="-184.0" y="273.51428"/>
        <ID1 xsi:type="node">105</ID1>
        <ID2 xsi:type="node">118</ID2>
    </child>
    <child ID="120" label="Value" layerID="1" created="1424878473228"
        x="-218.0" y="502.5" width="42.0" height="23.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d90a00000900c1d56bb0ffe3d7</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="121" layerID="1" created="1424878473234" x="-176.5"
        y="512.06213" width="58.0" height="2.0507202" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d90a00000900c1d56b733a0f35</URIString>
        <point1 x="-119.0" y="512.5622"/>
        <point2 x="-176.0" y="513.6129"/>
        <ID1 xsi:type="node">113</ID1>
        <ID2 xsi:type="node">120</ID2>
    </child>
    <child ID="122" label="StudyEventOID" layerID="1"
        created="1424878580676" x="10.0" y="312.5" width="92.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#FFFFFF</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1d90a00000900c1d56bf3a27b8c</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="123" layerID="1" created="1424878580684" x="-32.5"
        y="322.8553" width="43.0" height="1.3077087" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1da0a00000900c1d56b9b1f9550</URIString>
        <point1 x="-32.0" y="323.35532"/>
        <point2 x="10.0" y="323.66302"/>
        <ID1 xsi:type="node">107</ID1>
        <ID2 xsi:type="node">122</ID2>
    </child>
    <child ID="124" layerID="1" created="1424878606623" x="-58.981445"
        y="515.38477" width="369.37384" height="48.671875"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1da0a00000900c1d56bc8b6938b</URIString>
        <point1 x="309.8924" y="563.55664"/>
        <point2 x="-58.48146" y="515.88477"/>
        <ID1 xsi:type="node">88</ID1>
        <ID2 xsi:type="node">113</ID2>
    </child>
    <child ID="125" layerID="1" created="1424878610672" x="-40.940704"
        y="430.18292" width="370.32697" height="29.90384"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1da0a00000900c1d56b113ccab6</URIString>
        <point1 x="328.88626" y="459.58676"/>
        <point2 x="-40.440712" y="430.68292"/>
        <ID1 xsi:type="node">80</ID1>
        <ID2 xsi:type="node">111</ID2>
    </child>
    <child ID="126" layerID="1" created="1424878672305" x="269.58716"
        y="257.5" width="97.32568" height="130.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1da0a00000900c1d56bedeb7fc8</URIString>
        <point1 x="270.08716" y="258.0"/>
        <point2 x="366.41284" y="387.0"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">127</ID2>
    </child>
    <child ID="127" label="FormDef" layerID="1" created="1424878675129"
        x="345.5" y="387.0" width="59.0" height="23.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1db0a00000900c1d56bdcfbb4ae</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="128" label="ItemGroupRef" layerID="1"
        created="1424878683531" x="460.0" y="385.5" width="88.0"
        height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F1A83E</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1db0a00000900c1d56b50fca624</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="129" layerID="1" created="1424878683536" x="404.0"
        y="397.0116" width="56.5" height="1.6453552" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1db0a00000900c1d56b0df275a6</URIString>
        <point1 x="404.5" y="398.15698"/>
        <point2 x="460.0" y="397.51163"/>
        <ID1 xsi:type="node">127</ID1>
        <ID2 xsi:type="node">128</ID2>
    </child>
    <child ID="130" layerID="1" created="1424879035501" x="410.2818"
        y="303.0" width="57.43631" height="33.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1db0a00000900c1d56ba7020545</URIString>
        <point1 x="467.2181" y="303.5"/>
        <point2 x="410.7818" y="335.5"/>
        <ID1 xsi:type="node">76</ID1>
        <ID2 xsi:type="node">78</ID2>
    </child>
    <child ID="131" layerID="1" created="1424879036805" x="398.4259"
        y="356.8545" width="72.14816" height="31.791016"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1dc0a00000900c1d56beca9371c</URIString>
        <point1 x="470.0741" y="357.3545"/>
        <point2 x="398.92593" y="388.1455"/>
        <ID1 xsi:type="node">86</ID1>
        <ID2 xsi:type="node">127</ID2>
    </child>
    <child ID="132" layerID="1" created="1424879039043" x="394.91296"
        y="408.0" width="86.674225" height="44.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1dc0a00000900c1d56ba49db2b8</URIString>
        <point1 x="481.08716" y="408.5"/>
        <point2 x="395.41293" y="451.5"/>
        <ID1 xsi:type="node">128</ID1>
        <ID2 xsi:type="node">80</ID2>
    </child>
    <child ID="133" layerID="1" created="1424879040445" x="356.85574"
        y="504.22156" width="101.288574" height="52.556854"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1dc0a00000900c1d56bb9c5b575</URIString>
        <point1 x="457.64432" y="504.7216"/>
        <point2 x="357.35574" y="556.27844"/>
        <ID1 xsi:type="node">82</ID1>
        <ID2 xsi:type="node">88</ID2>
    </child>
    <child ID="134" layerID="1" created="1424879393539" x="101.168884"
        y="326.64017" width="245.14856" height="17.787476"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="3" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/c17df1dc0a00000900c1d56bc52f9aa2</URIString>
        <point1 x="345.81744" y="343.92764"/>
        <point2 x="101.66888" y="327.14017"/>
        <ID1 xsi:type="node">78</ID1>
        <ID2 xsi:type="node">122</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1424860418052" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/c15383f90a00000900c1d56be042c0e5</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-1070.5" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Untitled Pathway" created="1424860418051"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3CC33CC</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/c15383fa0a00000900c1d56b9c018e78</URIString>
            <masterSlide ID="2" created="1424860418065" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/c15383fa0a00000900c1d56b2fa09107</URIString>
                <titleStyle ID="3" label="Header"
                    created="1424860418075" x="335.5" y="172.5"
                    width="129.0" height="55.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/c15383fa0a00000900c1d56b31d2dc38</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1424860418075" x="346.5" y="281.5"
                    width="107.0" height="37.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/c15383fa0a00000900c1d56b672cc100</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1424860418076"
                    x="373.5" y="384.0" width="53.0" height="32.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/c15383fb0a00000900c1d56be12a0a48</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2015-02-25</date>
    <modelVersion>6</modelVersion>
    <saveLocation>D:\</saveLocation>
    <saveFile>D:\MedicalImageAnnotationFormat.vue</saveFile>
</LW-MAP>
